.footer {
  bottom: 0;
  right: 0;
  left: 240px;
  position: absolute;
  text-align: center;

  // Ajustes de tamaño
  height: 30px !important;   // 👈 más bajo
  padding: 4px 0 !important; // 👈 menos padding
  font-size: 12px !important;
  color: var(--#{$prefix}footer-color);
  background-color: var(--#{$prefix}footer-bg);
}

@media (max-width: 992px) {
  .footer {
    left: 0;
  }
}

.vertical-collpsed {
  .footer {
    left: $sidebar-collapsed-width;
  }
}

body[data-layout="horizontal"] {
  .footer {
    left: 0 !important;
  }
}
